# Положить как отдельные envs
DOCKER_LOGIN=your_dockerhub_username
DOCKER_AT=dckr_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Положить в общую env
AUTH_ADDR=127.0.0.1:49780
PRODUCT_ADDR=127.0.0.1:49782
ASSET_MANAGER_ADDR=127.0.0.1:49783
GATEWAY_PORT=8000
